html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

* {
    box-sizing: border-box
}

html {
    font-family: Signika, 'sans-serif';
    font-weight: 300;
    color: #333;
    font-size: 12px;
    line-height: 1.618em
}

@media (min-width:600px) {
    html {
        font-size: calc(12px + 4 * ((100vw - 600px) / 540))
    }
}

@media (min-width:1140px) {
    html {
        font-size: 16px
    }
}

a,
abbr,
acronym,
address,
b,
big,
blockquote,
caption,
center,
cite,
code,
dd,
del,
dfn,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
i,
img,
ins,
kbd,
label,
legend,
li,
ol,
p,
pre,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
u,
ul,
var {
    margin: 0;
    padding: 0
}

address,
blockquote,
dl,
ol,
p,
pre,
table,
ul {
    margin-bottom: 1.618em
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Signika, 'sans-serif';
    font-weight: 300;
    color: inherit;
    clear: both
}

h1 {
    font-size: 40.3630279321783px;
    margin-top: .601292847523251em;
    line-height: .721551417027901em;
    margin-bottom: .12025856950465em
}

@media (min-width:600px) {
    h1 {
        font-size: calc(40.3630279321783px + 13.45434 * ((100vw - 600px) / 540))
    }
}

@media (min-width:1140px) {
    h1 {
        font-size: 53.81737057623773px;
        margin-top: .601292847523251em;
        line-height: .721551417027901em;
        margin-bottom: .12025856950465em
    }
}

h2 {
    font-size: 31.66818985854946px;
    margin-top: .76638418894182em;
    line-height: .919661026730184em;
    margin-bottom: .167797102931998em
}

@media (min-width:600px) {
    h2 {
        font-size: calc(31.66818985854946px + 10.55606 * ((100vw - 600px) / 540))
    }
}

@media (min-width:1140px) {
    h2 {
        font-size: 42.224253144732614px;
        margin-top: .76638418894182em;
        line-height: .919661026730184em;
        margin-bottom: .16416703664609em
    }
}

h3 {
    font-size: 24.846358172193064px;
    margin-top: .97680311262525em;
    line-height: 1.1721637351503em;
    margin-bottom: .21894886284234em
}

@media (min-width:600px) {
    h3 {
        font-size: calc(24.846358172193064px + 8.28212 * ((100vw - 600px) / 540))
    }
}

@media (min-width:1140px) {
    h3 {
        font-size: 33.12847756292408px;
        margin-top: .97680311262525em;
        line-height: 1.1721637351503em;
        margin-bottom: .213051802763017em
    }
}

h4 {
    font-size: 19.494057512549652px;
    margin-top: 1.244994787995047em;
    line-height: 1.493993745594056em;
    margin-bottom: .2873181670461em
}

@media (min-width:600px) {
    h4 {
        font-size: calc(19.494057512549652px + 6.49802 * ((100vw - 600px) / 540))
    }
}

@media (min-width:1140px) {
    h4 {
        font-size: 25.992076683399535px;
        margin-top: 1.244994787995047em;
        line-height: 1.493993745594056em;
        margin-bottom: .277738364684328em
    }
}

h5 {
    font-size: 15.294727527831146px;
    margin-top: 1.586821337996178em;
    line-height: 1.904185605595414em;
    margin-bottom: .317364267599236em
}

@media (min-width:600px) {
    h5 {
        font-size: calc(15.294727527831146px + 5.09824 * ((100vw - 600px) / 540))
    }
}

@media (min-width:1140px) {
    h5 {
        font-size: 20.392970037108196px;
        margin-top: 1.586821337996178em;
        line-height: 1.904185605595414em;
        margin-bottom: .317364267599236em
    }
}

h6 {
    font-size: 12px;
    margin-top: 2.0225em;
    line-height: 2.427em;
    margin-bottom: .573041666666667em
}

@media (min-width:600px) {
    h6 {
        font-size: calc(12px + 4 * ((100vw - 600px) / 540))
    }
}

@media (min-width:1140px) {
    h6 {
        font-size: 16px;
        margin-top: 2.0225em;
        line-height: 2.427em;
        margin-bottom: .438208333333333em
    }
}

blockquote {
    font-style: italic
}

blockquote cite {
    display: block;
    font-style: normal
}

pre {
    padding: .809em;
    margin-bottom: 1.618em
}

pre code {
    padding: 0
}

code {
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, 'monospace';
    padding: .0809em .2427em
}

big,
code,
small,
sub,
sup {
    line-height: 0
}

abbr,
acronym {
    border-bottom: 1px dotted currentColor;
    cursor: help
}

address {
    font-style: normal
}

dt {
    color: inherit;
    font-weight: 700
}

ul {
    padding-left: 1.1em
}

ol {
    padding-left: 1.4em
}

fieldset {
    padding: .809em 1.618em 1.618em;
    border-width: 1px;
    border-style: solid;
    max-width: 100%;
    margin-bottom: 1.719125em
}

@media (min-width:1140px) {
    fieldset {
        margin-bottom: 1.89609375em
    }
}

fieldset button,
fieldset input[type=submit] {
    margin-bottom: 0
}

legend {
    color: inherit;
    font-weight: 700
}

label {
    display: block;
    padding-bottom: .20225em;
    margin-bottom: -.1516875em
}

input[type=email],
input[type=password],
input[type=text],
textarea {
    display: block;
    max-width: 100%;
    padding: .4045em;
    font-size: 12px;
    margin-bottom: 1.1629375em
}

@media (min-width:600px) {
    input[type=email],
    input[type=password],
    input[type=text],
    textarea {
        font-size: calc(12px + 4 * ((100vw - 600px) / 540))
    }
}

@media (min-width:1140px) {
    input[type=email],
    input[type=password],
    input[type=text],
    textarea {
        font-size: 16px;
        margin-bottom: .492984375em
    }
}

button,
input[type=submit] {
    display: block;
    cursor: pointer;
    font-size: 12px;
    padding: .4045em 1.618em;
    margin-bottom: 1.0618125em
}

@media (min-width:600px) {
    button,
    input[type=submit] {
        font-size: calc(12px + 4 * ((100vw - 600px) / 540))
    }
}

@media (min-width:1140px) {
    button,
    input[type=submit] {
        font-size: 16px;
        margin-bottom: 1.2135em
    }
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 2.123625em
}

@media (min-width:1140px) {
    table {
        margin-bottom: 1.9719375em
    }
}

th {
    text-align: left;
    color: inherit;
    padding: .20225em .809em
}

@media (min-width:1140px) {
    th {
        padding: .4045em .809em
    }
}

td {
    padding: .20225em .809em
}

@media (min-width:1140px) {
    td {
        padding: .4045em .809em
    }
}

body {
    background-color: #fff;
    font-family: Signika, 'sans-serif';
    color: #333
}

a {
    text-decoration: none;
    color: #0a4d84
}

a:focus {
    outline: none
}

strong {
    font-weight: 600
}

hr {
    display: block;
    background-color: #d8dde5;
    height: 1px;
    border-width: 0;
    margin: 24px 0
}

h2 {
    line-height: 1.25;
    position: relative;
    padding-bottom: 12px;
    margin: 0 0 12px
}

h2:after {
    content: "";
    display: block;
    background-color: #0a4d84;
    width: 60px;
    height: 1px;
    position: absolute;
    bottom: -1px;
    left: 0
}

h4 {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 1.8em
}

h4 span {
    color: #474747;
    font-size: .875rem
}

h5 {
    margin: 0 0 24px;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid #999
}

blockquote {
    font-style: normal;
    line-height: 1.25;
    font-weight: 300
}

blockquote p {
    font-size: .75rem;
    color: #04223a;
    font-weight: 600;
    text-transform: uppercase;
    margin: 24px 0 0;
    text-align: right
}

@media only screen and (max-width:1050px) {
    blockquote p {
        text-align: left
    }
}

blockquote.staff-quote {
    text-align: left;
    font-size: 1.625rem;
    color: #fcaf17;
    margin: 48px 24px 0 0;
    padding-left: 20%
}

@media only screen and (max-width:1050px) {
    blockquote.staff-quote {
        padding: 0;
        margin-bottom: 25px
    }
}

form {
    margin: 0;
    font-size: .75rem;
    font-weight: 600
}

input[type=email],
input[type=password],
input[type=tel],
input[type=text],
textarea {
    display: block;
    background: none;
    border: 0;
    border: 1px solid #d8dde5;
    width: 100%;
    padding: 5px;
    margin-bottom: 24px;
    font-size: 1rem;
    font-weight: 400
}

input[type=email]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=text]:focus,
textarea:focus {
    outline: none
}

textarea {
    resize: none;
    height: 100px
}

select {
    margin-bottom: 24px
}

input[type=submit] {
    display: inline-block;
    color: #fff;
    background: #0a4d84;
    border: 0;
    margin-right: 24px;
    text-transform: uppercase;
    border-radius: 3px
}

input[type=submit]:hover {
    background: #fcaf17
}

span.wpcf7-not-valid-tip {
    margin-top: -20px
}

div.page__table {
    margin-top: 80px
}

table {
    max-width: 100%;
    min-width: 100%;
    border-collapse: collapse!important;
    display: table;
    border-color: #f6f7f9
}

table th {
    vertical-align: bottom;
    color: #fff;
    background: #04223a;
    padding: 1em 1.6em
}

table td {
    padding: 1em;
    vertical-align: top;
    border-top: 1px solid #d8dde5
}

.container {
    *zoom: 1;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto
}

.container:after,
.container:before {
    content: '';
    display: table
}

.container:after {
    clear: both
}

.container--inner {
    margin: 0 6%
}

@media only screen and (max-width:1050px) {
    .container--inner {
        margin: 0 15px
    }
}

.row {
    *zoom: 1
}

.row:after,
.row:before {
    content: '';
    display: table
}

.row:after {
    clear: both
}

.clearfix {
    *zoom: 1
}

.clearfix:after,
.clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both
}

.col--half {
    width: calc(99.99% * 1/2 - 48px)
}

.col--half:nth-child(n) {
    float: left;
    margin-right: 96px;
    clear: none
}

.col--half:last-child,
.col--half:nth-child(2n) {
    margin-right: 0
}

.col--half:nth-child(2n+1) {
    clear: left
}

@media only screen and (max-width:1050px) {
    .col--half {
        width: 100%
    }
    .col--half:nth-child(n) {
        float: left;
        margin-right: 0;
        clear: none
    }
    .col--half:last-child,
    .col--half:nth-child(0n) {
        margin-right: 0
    }
    .col--half:nth-child(0n+1) {
        clear: left
    }
    .col--half:first-child {
        margin-bottom: 24px
    }
}

.col--one-third {
    width: calc(99.99% * 1/3 - 64px)
}

.col--one-third:nth-child(n) {
    float: left;
    margin-right: 96px;
    clear: none
}

.col--one-third:last-child,
.col--one-third:nth-child(3n) {
    margin-right: 0
}

.col--one-third:nth-child(3n+1) {
    clear: left
}

div.cycle__wrap {
    margin: 0;
    z-index: 1
}

@media only screen and (min-width:800px) {
    div.cycle__wrap div.cycle__item {
        padding: 0 96px
    }
}

div.cycle__item {
    width: 100%;
    display: none
}

div.cycle__item:first-child {
    display: block
}

div.cycle__pager {
    text-align: center;
    z-index: 6;
    display: none;
    position: absolute;
    top: 0;
    right: 0
}

div.cycle__pager span {
    display: block;
    background: #0a4d84;
    margin: 24px 0;
    border-radius: 50%;
    cursor: pointer;
    width: 18px;
    height: 18px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden
}

div.cycle__pager span.cycle-pager-active {
    background: #fcaf17
}

a.cycle__next,
a.cycle__prev {
    display: block;
    background: transparent url(../img/sprite.png) no-repeat;
    background-position: 9px -1311px;
    margin-left: -45px;
    background-color: #f6f7f9;
    border-radius: 5px;
    width: 40px;
    height: 30px;
    position: absolute;
    top: -50px;
    left: 50%;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden
}

a.cycle__next:hover,
a.cycle__prev:hover {
    background-color: #0a4d84
}

a.cycle__next {
    background-position: 8px -1387px;
    margin-right: -45px;
    margin-left: 0
}

div#js-home-cycle {
    z-index: -1;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%
}

div#js-home-cycle div.cycle__item {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

header.site__header {
    width: 100%;
   /*  height: 100vh; */
    overflow: hidden;
    position: relative
}

header.site__header.site__header--page {
    background: transparent url(../img/pages_bg.jpg) no-repeat;
    height: 370px
}

@media only screen and (max-width:1050px) {
    header.site__header.site__header--page {
        height: 250px
    }
}

header.site__header div.container--inner {
    position: relative;
    height: 1px;
    margin-top: -1px
}

div.site__header__logo {
    z-index: 6;
    position: absolute;
    top: 48px;
    left: 0
}

@media only screen and (max-width:1050px) {
    div.site__header__logo {
        top: 24px
    }
}

h1.site__header__logo-h1 {
    margin: 0
}

h1.site__header__logo-h1 a {
    display: block
}

h1.site__header__logo-h1 a img {
    display: block;
    width: 260px;
    height: auto;
    max-width: none
}

@media only screen and (max-width:1050px) {
    h1.site__header__logo-h1 a img {
        width: 200px
    }
}

p.site__header__description {
    margin: 0;
    line-height: 1.4;
    font-size: .875rem;
    border-left: 1px solid #adadad;
    padding: 12px 24px;
    width: 260px;
    height: auto;
    position: absolute;
    top: -12px;
    left: 284px
}

@media only screen and (max-width:1050px) {
    p.site__header__description {
        position: static;
        border: 0;
        padding-left: 0
    }
}

a.site__toggle-menu {
    display: block;
    background: transparent url(../img/menu_btn_mobile.png) no-repeat;
    z-index: 7;
    text-indent: -9999px;
    position: absolute;
    top: 15px;
    right: 0;
    width: 62px;
    height: 62px
}

@media only screen and (min-width:1050px) {
    a.site__toggle-menu {
        display: none
    }
}

img.site__header__pbg {
    max-width: 100%;
    min-width: 100%;
    display: block;
    width: auto;
    height: auto
}

div.site__header__menus {
    z-index: 5;
    width: 100%;
    height: 400px;
    position: absolute;
    top: 48px;
    right: 0;
    transition: .25s all ease-in
}

@media only screen and (max-width:1050px) {
    div.site__header__menus {
        width: 240px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        padding: 24px 0;
        -webkit-transform: translateX(-240px);
        transform: translateX(-240px);
        overflow-y: scroll;
        z-index: 9;
        background-color: #333
    }
}

div.site__header__menus.open {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

div.shade {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 8;
    background-color: #04223a;
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    visibility: hidden
}

div.shade.open {
    visibility: visible
}

ul.site__header__menu {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
    right: 0
}

ul.site__header__menu:after {
    content: "";
    display: table;
    clear: both
}

@media only screen and (max-width:1050px) {
    ul.site__header__menu {
        position: static
    }
}

ul.site__header__menu li {
    float: left;
    position: relative
}

@media only screen and (max-width:1050px) {
    ul.site__header__menu li {
        float: none
    }
}

ul.site__header__menu a {
    display: block;
    text-transform: uppercase;
    color: #04223a;
    letter-spacing: 1px
}

@media only screen and (max-width:1050px) {
    ul.site__header__menu a {
        color: #fff
    }
}

ul.site__header__menu a:hover {
    color: #fcaf17
}

ul.site__header__menu--sm {
    top: 10px
}

@media only screen and (max-width:1050px) {
    ul.site__header__menu--sm {
        top: auto;
        margin-bottom: 12px
    }
}

ul.site__header__menu--sm li {
    margin-left: 12px
}

@media only screen and (max-width:1050px) {
    ul.site__header__menu--sm li {
        margin-left: 0
    }
}

ul.site__header__menu--sm li.current-menu-item a {
    color: #333;
    border-color: #fcaf17
}

ul.site__header__menu--sm a {
    font-size: .75rem;
    padding: 5px;
    border-bottom: 2px solid transparent
}

@media only screen and (max-width:1050px) {
    ul.site__header__menu--sm a {
        padding: 5px 15px;
        border: 0
    }
}

ul.site__header__menu--sm a:hover {
    color: #333;
    border-color: #fcaf17
}

@media only screen and (max-width:1050px) {
    ul.site__header__menu--sm a:hover {
        color: #fff;
        background-color: #525252
    }
}

ul.site__header__menu--sm li:last-child {
    position: relative
}

ul.site__header__menu--sm li:last-child:hover a {
    background-color: #0a4d84;
    color: #fcaf17
}

@media only screen and (max-width:1050px) {
    ul.site__header__menu--sm li:last-child:hover a {
        color: #fff;
        background-color: #525252
    }
}

ul.site__header__menu--sm li:last-child:hover ul.sub-menu {
    display: block
}

ul.site__header__menu--sm li:last-child a {
    padding: 5px 10px;
    border: 1px solid #0a4d84;
    border-radius: 3px;
    color: #0a4d84
}

@media only screen and (max-width:1050px) {
    ul.site__header__menu--sm li:last-child a {
        padding: 5px 15px;
        border: 0;
        color: #fff
    }
}

ul.site__header__menu--sm li:last-child a:hover {
    border-color: #0a4d84;
    background-color: #0a4d84;
    color: #fcaf17
}

@media only screen and (max-width:1050px) {
    ul.site__header__menu--sm li:last-child a:hover {
        color: #fff;
        background-color: #525252
    }
}

ul.site__header__menu--sm li:last-child ul.sub-menu {
    left: auto!important;
    right: 0;
    width: 180px!important
}

ul.site__header__menu--sm li:last-child ul.sub-menu li {
    margin: 0
}

ul.site__header__menu--sm li:last-child ul.sub-menu a {
    padding: 5px 15px!important;
    border: 0!important
}

ul.site__header__menu--lg {
    top: 84px;
    border-radius: 8px;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(4, 34, 58, .1)
}

@media only screen and (max-width:1050px) {
    ul.site__header__menu--lg {
        background-color: transparent;
        box-shadow: none;
        width: auto;
        top: auto
    }
}

ul.site__header__menu--lg li {
    display: block
}

@media only screen and (min-width:800px) {
    ul.site__header__menu--lg li {
        width: 12.5%;
        text-align: center;
        line-height: 1
    }
    ul.site__header__menu--lg li:nth-child(n) {
        float: left;
        margin-right: 0;
        clear: none
    }
    ul.site__header__menu--lg li:last-child,
    ul.site__header__menu--lg li:nth-child(0n) {
        margin-right: 0
    }
    ul.site__header__menu--lg li:nth-child(0n+1) {
        clear: left
    }
}

ul.site__header__menu--lg li:hover a {
    color: #fff;
    background-color: #fcaf17
}

ul.site__header__menu--lg li:hover ul.sub-menu {
    display: block
}

ul.site__header__menu--lg li.current-menu-item a,
ul.site__header__menu--lg li.current_page_ancestor a {
    color: #fff;
    background-color: #efa003
}

ul.site__header__menu--lg li:first-child a {
    border-radius: 8px 0 0 8px
}

ul.site__header__menu--lg li:last-child a {
    border-radius: 0 8px 8px 0
}

ul.site__header__menu--lg li:last-child ul.sub-menu {
    left: auto;
    right: 0
}

ul.site__header__menu--lg a {
    font-size: 15px;
    color: #333;
    padding: 22px 5px
}

@media only screen and (max-width:1050px) {
    ul.site__header__menu--lg a {
        padding: 5px 15px;
        color: #fff;
        background-color: none
    }
}

ul.site__header__menu--lg a:hover {
    background-color: #fcaf17;
    color: #fff
}

@media only screen and (max-width:1050px) {
    ul.site__header__menu--lg a:hover {
        background-color: #525252;
        border-radius: 0!important
    }
}

li#menu-item-632 ul.sub-menu,
ul.site__header__menu--lg ul.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 7;
    background-color: #fff;
    padding: 0;
    width: 240px;
    display: none;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(50, 50, 50, .5)
}

@media only screen and (max-width:1050px) {
    li#menu-item-632 ul.sub-menu,
    ul.site__header__menu--lg ul.sub-menu {
        display: block;
        position: static;
        width: auto!important;
        background: transparent!important;
        box-shadow: none;
        overflow: visible
    }
}

li#menu-item-632 ul.sub-menu li,
ul.site__header__menu--lg ul.sub-menu li {
    float: none!important;
    width: auto!important;
    border-top: 1px solid #d8dde5
}

@media only screen and (max-width:1050px) {
    li#menu-item-632 ul.sub-menu li,
    ul.site__header__menu--lg ul.sub-menu li {
        border: 0
    }
}

li#menu-item-632 ul.sub-menu a,
ul.site__header__menu--lg ul.sub-menu a {
    background-color: #fff!important;
    color: #333!important;
    text-align: left;
    padding: 10px 15px;
    line-height: 1.15;
    border-radius: 0!important
}

@media only screen and (max-width:1050px) {
    li#menu-item-632 ul.sub-menu a,
    ul.site__header__menu--lg ul.sub-menu a {
        padding: 5px 15px;
        background: transparent!important;
        color: #fff!important;
        font-size: .75rem
    }
}

li#menu-item-632 ul.sub-menu a:hover,
ul.site__header__menu--lg ul.sub-menu a:hover {
    background-color: #fcaf17!important;
    color: #fff!important
}

@media only screen and (max-width:1050px) {
    li#menu-item-632 ul.sub-menu a:hover,
    ul.site__header__menu--lg ul.sub-menu a:hover {
        background-color: #525252!important
    }
}

section.site__header__background {
    width: auto;
    height: 100vh;
    max-height: none;
    position: relative;
    overflow: hidden;
	/* display:none; */
}

@media screen and (min-width:64em){
	section.site__header__background{height:100vh !important;max-height:780px !important;}
}
@media screen and (max-width:767px){
	section.site__header__background{max-height:768px !important;}
}
@media screen and (min-width:48em){
	section.site__header__background{max-height:768px !important;}
}

img.homepage-slide__bg {
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
    max-width: 0;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: auto
}

@media only screen and (max-width:1050px) {
    img.homepage-slide__bg {
        right: -100px
    }
}

img.homepage-slide__bg:first-child {
    display: block
}

h2.homepage-slide__title {
    margin: 0;
    font-weight: 300;
    position: relative;
    line-height: 1.2;
    font-size: 2.25rem;
    z-index: 3;
    color: #fff;
    width: 50%;
    position: absolute;
    bottom: 15%;
    left: 11%
}

@media only screen and (max-width:1050px) {
    h2.homepage-slide__title {
        font-size: 2rem;
        width: 90%;
        left: 0;
        bottom: 100px;
        margin: 15px
    }
}

h2.homepage-slide__title:after {
    content: "";
    display: block;
    width: 12%;
    height: 1px;
    background: #fcaf17;
    position: absolute;
    bottom: -12%;
    left: 0
}

a.homepage-slide__down {
    background: transparent url(../img/scroll_down_icon.png) no-repeat;
    display: block;
    text-indent: -999999px;
    margin-left: -27px;
    z-index: 4;
    width: 54px;
    height: 54px;
    position: absolute;
    bottom: 24px;
    left: 50%
}

a.homepage-slide__down:hover {
    background-position: 0 -54px
}

section.highlight,
section.leader {
    overflow: hidden
}

section.highlight:after,
section.leader:after {
    content: "";
    display: table;
    clear: both
}

div.highlight__item {
    width: 37.5%;
    color: #fff;
    background: #04223a;
    margin-bottom: -99999px;
    padding-bottom: 99999px
}

div.highlight__item:nth-child(n) {
    float: left;
    margin-right: 0;
    clear: none
}

div.highlight__item:last-child,
div.highlight__item:nth-child(0n) {
    margin-right: 0
}

div.highlight__item:nth-child(0n+1) {
    clear: left
}

@media only screen and (max-width:1050px) {
    div.highlight__item {
        width: 100%
    }
    div.highlight__item:nth-child(n) {
        float: left;
        margin-right: 0;
        clear: none
    }
    div.highlight__item:last-child,
    div.highlight__item:nth-child(0n) {
        margin-right: 0
    }
    div.highlight__item:nth-child(0n+1) {
        clear: left
    }
}

div.highlight__item h2:after {
    width: 50px
}

div.highlight__item--rankings {
    background: #0a4d84
}

div.highlight__item--rankings h2:after {
    background: #0e6bb7
}

div.highlight__item--rankings strong {
    color: #fcaf17
}

div.ranking {
    overflow: hidden;
    z-index: 1
}

div.ranking,
div.ranking__wrap {
    position: relative
}

div.ranking__item {
    background: #0a4d84;
    visibility: hidden;
    width: 100%
}

div.ranking__item.cycle-slide-active {
    visibility: visible
}

div.ranking__item.nope {
    display: none
}

a.ranking__ctrl {
    display: block;
    background: transparent url(../img/sprite.png) no-repeat;
    background-position: 0 -1312px;
    text-indent: -999999px;
    width: 45px;
    height: 25px;
    position: absolute;
    top: 27px;
    right: 50px
}

a.ranking__ctrl:hover {
    background-position: 0 -339px
}

a.ranking__ctrl.ranking__ctrl--next {
    background-position: 0 -1388px;
    right: 5px
}

a.ranking__ctrl.ranking__ctrl--next:hover {
    background-position: 0 -415px
}

div.highlight__item--admissions article.highlight__item__article {
    padding-right: 180px;
    position: relative;
    background: #04223a
}

div.highlight__item--admissions article.highlight__item__article ul {
    margin: -20px 0 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 50%;
    right: 48px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

div.highlight__item--admissions article.highlight__item__article ul li {
    margin-top: 20px
}

div.highlight__item--admissions article.highlight__item__article ul a {
    display: block;
    background: #fcaf17;
    color: #fff;
    padding: 12px 34px;
    border-radius: 5px;
    font-weight: 600
}

div.highlight__item--admissions article.highlight__item__article ul a:hover {
    background: #0a4d84;
    color: #fcaf17
}

div.highlight__item--links {
    background: #dee2e9;
    height: 100%;
    width: 25%
}

div.highlight__item--links:nth-child(n) {
    float: left;
    margin-right: 0;
    clear: none
}

div.highlight__item--links:last-child,
div.highlight__item--links:nth-child(0n) {
    margin-right: 0
}

div.highlight__item--links:nth-child(0n+1) {
    clear: left
}

@media only screen and (max-width:1050px) {
    div.highlight__item--links {
        width: 100%
    }
    div.highlight__item--links:nth-child(n) {
        float: left;
        margin-right: 0;
        clear: none
    }
    div.highlight__item--links:last-child,
    div.highlight__item--links:nth-child(0n) {
        margin-right: 0
    }
    div.highlight__item--links:nth-child(0n+1) {
        clear: left
    }
}

div.highlight__item--links ul {
    margin: 0;
    padding: 0;
    list-style: none
}

div.highlight__item--links ul li:last-child a {
    background-color: #e7eaef;
    line-height: 112px;
    padding-top: 0
}

div.highlight__item--links ul li:last-child a:hover {
    background-color: #0a4d84
}

div.highlight__item--links ul a {
    display: block;
    line-height: 1.25;
    padding: 24px 96px 0 24px;
    color: #333;
    text-transform: uppercase;
    background: transparent url(../img/sprite.png) no-repeat;
    background-position: 95% -805px;
    background-color: #f6f7f9;
    height: 113px;
    font-size: .875rem
}

div.highlight__item--links ul a:hover {
    background-color: #0a4d84;
    color: #fcaf17
}

article.highlight__item__article {
    padding: 24px 48px
}

article.highlight__item__article strong {
    font-weight: 600
}

h2.highlight__item__title {
    font-size: 1.5rem;
    margin-bottom: 15px
}

section.leader:after {
    content: "";
    display: table;
    clear: both
}

div.leader__or {
    background: #fcaf17;
    width: 66.66667%;
    position: relative
}

div.leader__or:nth-child(n) {
    float: left;
    margin-right: 0;
    clear: none
}

div.leader__or:last-child,
div.leader__or:nth-child(0n) {
    margin-right: 0
}

div.leader__or:nth-child(0n+1) {
    clear: left
}

@media only screen and (max-width:1050px) {
    div.leader__or {
        width: 100%
    }
    div.leader__or:nth-child(n) {
        float: left;
        margin-right: 0;
        clear: none
    }
    div.leader__or:last-child,
    div.leader__or:nth-child(0n) {
        margin-right: 0
    }
    div.leader__or:nth-child(0n+1) {
        clear: left
    }
}

div.leader__or img {
    display: block;
    max-width: 100%;
    height: auto
}

div.leader__or blockquote.leader__quote {
    font-size: 1.75rem;
    font-style: normal;
    width: 50%;
    line-height: 1.4;
    position: absolute;
    top: 15%;
    right: 10%
}

@media only screen and (max-width:1050px) {
    div.leader__or blockquote.leader__quote {
        width: 100%;
        top: auto;
        bottom: 0;
        right: 0;
        padding: 48px
    }
}

div.leader__or blockquote.leader__quote h4 {
    font-size: 1.3125rem;
    margin-top: 30px
}

div.leader__asterisk {
    width: 50px;
    height: 36px;
    position: absolute;
    top: -20px;
    left: -60px;
    background: transparent url(../img/sprite.png) no-repeat;
    background-position: 0 -1944px
}

@media only screen and (max-width:1050px) {
    div.leader__asterisk {
        display: none
    }
}

div.leader__sd {
    background: #f6f7f9;
    width: 33.33333%;
    position: relative;
    min-height: 900px
}

div.leader__sd:nth-child(n) {
    float: left;
    margin-right: 0;
    clear: none
}

div.leader__sd:last-child,
div.leader__sd:nth-child(0n) {
    margin-right: 0
}

div.leader__sd:nth-child(0n+1) {
    clear: left
}

@media only screen and (max-width:1050px) {
    div.leader__sd {
        width: 100%
    }
    div.leader__sd:nth-child(n) {
        float: left;
        margin-right: 0;
        clear: none
    }
    div.leader__sd:last-child,
    div.leader__sd:nth-child(0n) {
        margin-right: 0
    }
    div.leader__sd:nth-child(0n+1) {
        clear: left
    }
}

div.leader__sd img {
    display: block;
    max-width: 100%;
    min-width: 100%;
    height: auto;
    width: auto
}

article.leader__article {
    padding: 48px
}

article.leader__article h2 {
    margin-top: 0
}

ul.leader__links {
    margin: 48px 0 0;
    padding: 0;
    list-style: none
}

ul.leader__links li {
    margin-top: 15px
}

ul.leader__links a {
    display: block;
    text-transform: uppercase;
    color: #0a4d84;
    font-weight: 400;
    padding-left: 25px;
    background: transparent url(../img/sprite.png) no-repeat;
    background-position: 0 -494px
}

ul.leader__links a:hover {
    color: #fcaf17;
    background-position: 0 -494px
}

img.leader__team-pic {
    display: block;
    position: absolute;
    bottom: 0;
    left: -100%
}

@media only screen and (max-width:1050px) {
    img.leader__team-pic {
        position: static
    }
}

section.glimpse {
    margin-top: 24px
}

section.glimpse div.clearfix {
    margin-top: 35px
}

div.glimpse__item {
    width: 50%
}

div.glimpse__item:nth-child(n) {
    float: left;
    margin-right: 0;
    clear: none
}

div.glimpse__item:last-child,
div.glimpse__item:nth-child(2n) {
    margin-right: 0
}

div.glimpse__item:nth-child(2n+1) {
    clear: left
}

@media only screen and (max-width:1050px) {
    div.glimpse__item {
        width: 100%
    }
    div.glimpse__item:nth-child(n) {
        float: left;
        margin-right: 0;
        clear: none
    }
    div.glimpse__item:last-child,
    div.glimpse__item:nth-child(0n) {
        margin-right: 0
    }
    div.glimpse__item:nth-child(0n+1) {
        clear: left
    }
}

div.glimpse__item:first-child article {
    padding-right: 20%
}

div.glimpse__item--wcf {
    background: #04223a;
    color: #fff
}

@media only screen and (max-width:1050px) {
    div.glimpse__item--wcf {
        margin-top: 0
    }
}

div.glimpse__item--wcf article.glimpse__article {
    padding: 48px
}

article.glimpse__article {
    padding: 0
}

article.glimpse__article h2 {
    margin: 0 0 12%;
    position: relative
}

article.glimpse__article h2:after {
    content: "";
    width: 12%;
    height: 1px;
    background: #0a4d84;
    position: absolute;
    bottom: -25%;
    left: 0
}

article.glimpse__article a {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400
}

a.glimpse__about-link {
    color: #0a4d84;
    padding-left: 25px;
    background: transparent url(../img/sprite.png) no-repeat;
    background-position: 0 -494px
}

a.glimpse__about-link:hover {
    color: #fcaf17
}

a.glimpse__of-link {
    color: #fff;
    padding-left: 25px;
    background: transparent url(../img/sprite.png) no-repeat;
    background-position: 0 -494px
}

a.glimpse__of-link:hover {
    color: #fcaf17
}

div.glimpse__item--pic {
    position: relative;
    overflow: hidden
}

img.glimpse__teach-pic {
    min-width: 101%;
    min-height: 101%;
    height: auto;
    width: auto;
    display: block;
    position: absolute;
    top: 0;
    right: 0
}

section.news-events {
    overflow: hidden
}

section.news-events:after {
    content: "";
    display: table;
    clear: both
}

div.news-events__item {
    width: 25%;
    background: #ebeef1;
    margin-bottom: -99999px;
    padding-bottom: 99999px
}

div.news-events__item:nth-child(n) {
    float: left;
    margin-right: 0;
    clear: none
}

div.news-events__item:last-child,
div.news-events__item:nth-child(4n) {
    margin-right: 0
}

div.news-events__item:nth-child(4n+1) {
    clear: left
}

@media only screen and (max-width:1050px) {
    div.news-events__item {
        width: 50%
    }
    div.news-events__item:nth-child(n) {
        float: left;
        margin-right: 0;
        clear: none
    }
    div.news-events__item:last-child,
    div.news-events__item:nth-child(2n) {
        margin-right: 0
    }
    div.news-events__item:nth-child(2n+1) {
        clear: left
    }
}

@media only screen and (max-width:600px) {
    div.news-events__item {
        width: 100%
    }
    div.news-events__item:nth-child(n) {
        float: left;
        margin-right: 0;
        clear: none
    }
    div.news-events__item:last-child,
    div.news-events__item:nth-child(1n) {
        margin-right: 0
    }
    div.news-events__item:nth-child(1n+1) {
        clear: left
    }
}

div.news-events__item:nth-child(even) {
    background: #f5f7f8
}

article.news-events__article {
    padding: 48px
}

article.news-events__article h2,
article.news-events__article h4 {
    margin-top: 0
}

article.news-events__article h4 {
    font-size: .8125rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 24px
}

a.news-events__v-more {
    text-transform: uppercase;
    color: #0a4d84;
    padding-left: 25px;
    display: inline-block;
    background: transparent url(../img/sprite.png) no-repeat;
    background-position: 0 -494px;
    margin-top: 48px
}

a.news-events__v-more:hover {
    color: #fcaf17
}

div.news-events__excerpt {
    font-size: .8125rem;
    line-height: 1.6
}

section.alumni-link {
    position: relative
}

section.alumni-link img {
    max-width: 100%;
    min-width: 100%;
    position: relative;
    display: block;
    z-index: 1;
    width: auto;
    height: auto
}

article.alumni-link__article {
    background: #0a4d84;
    color: #fff;
    padding: 35px 80px 35px 35px
}

@media only screen and (min-width:800px) {
    article.alumni-link__article {
        position: absolute;
        right: 10%;
        bottom: 0;
        z-index: 2
    }
}

article.alumni-link__article h2 {
    margin: 0 0 48px
}

article.alumni-link__article h2:after {
    background-color: #1289eb
}

a.alumni-link__link {
    color: #fff;
    text-transform: uppercase;
    padding-left: 25px;
    background: transparent url(../img/sprite.png) no-repeat;
    background-position: 0 -497px
}

a.alumni-link__link:hover {
    color: #fcaf17
}

section.page__header {
    margin: -150px 0 0;
    position: relative;
    z-index: 2
}

a.page__parent-title {
    color: #fff;
    margin: 24px 0 5px;
    display: inline-block;
    text-transform: uppercase
}

h2.page__title {
    color: #fcaf17
}

h2.page__title:after {
    display: none
}

section.page__sub-pages {
    background: #04223a;
    position: relative;
    z-index: 3
}

section.page__sub-pages .container--inner {
    position: relative
}

ul.page__sub-pages__menu {
    margin: 0;
    margin-left: -26px;
    padding: 0;
    list-style: none
}

ul.page__sub-pages__menu:after {
    content: "";
    display: table;
    clear: both
}

ul.page__sub-pages__menu li {
    float: left;
    color: #0a4d84;
    margin-left: 15px
}

@media only screen and (max-width:1050px) {
    ul.page__sub-pages__menu li {
        float: none
    }
}

ul.page__sub-pages__menu li.current_page_item a {
    color: #fcaf17;
    border-color: #fcaf17
}

ul.page__sub-pages__menu a {
    display: block;
    padding: 25px 20px 20px;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 5px solid #04223a
}

ul.page__sub-pages__menu a:hover {
    color: #fcaf17
}

ul.page__sub-pages__menu a.blue {
    color: #0a4d84
}

a.page__syllabus {
    display: block;
    color: #fff;
    padding: 25px 20px 20px;
    text-transform: uppercase;
    position: absolute;
    top: 5px;
    right: 0;
    background: transparent url(../img/sprite.png) no-repeat;
    padding-left: 48px;
    background-position: 0 -235px
}

@media only screen and (max-width:1050px) {
    a.page__syllabus {
        position: static;
        border-top: 1px solid #073b64
    }
}

a.page__syllabus:hover {
    color: #fcaf17
}

section.page__program-info {
    background-color: #0a4d84;
    color: #fff
}

div.program__wrap {
    margin: 0;
    position: relative;
    padding: 24px 0
}

h4.program__fullname,
h5.program__dept {
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem
}

h5.program__dept {
    border: 0;
    font-size: 1rem;
    font-weight: 300
}

ul.program__cats {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 45px;
    right: 0
}

ul.program__cats:after {
    content: "";
    display: table;
    clear: both
}

ul.program__cats li {
    float: left;
    margin-left: 40px
}

ul.program__cats a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 2px solid #0a4d84;
    padding: 5px
}

ul.program__cats a:hover {
    color: #fcaf17
}

ul.program__cats a.active {
    color: #fcaf17;
    border-color: #fcaf17
}

div.program__panel {
    display: none
}

div.program__panel.active {
    display: block
}

section.page__content {
    padding: 30px 0;
    background: #fff;
    position: relative;
    z-index: 1
}

@media only screen and (max-width:1050px) {
    section.page__content {
        padding: 24px 0
    }
}

section.page__content img {
    max-width: 100%;
    height: auto;
    display: block
}

section.page__content ul li {
    list-style-image: url(../img/yellow_arrow.png);
    margin: 1em 0 0;
    padding-left: 5px
}

section.page__content ul li:first-child {
    margin: 0
}

section.page__content ul a {
    text-decoration: underline
}

div.page__highlight {
    background-color: #f6f7f9;
    padding: 5%;
    margin-top: 70px
}

div.page__highlight div.row {
    margin: 0
}

div.post__archive:after {
    content: "";
    display: table;
    clear: both
}

div.post__archive.post__archive--gallery div.post__item {
    width: calc(99.99% * 1/4 - 18px);
    margin-bottom: 24px
}

div.post__archive.post__archive--gallery div.post__item:nth-child(n) {
    float: left;
    margin-right: 24px;
    clear: none
}

div.post__archive.post__archive--gallery div.post__item:last-child,
div.post__archive.post__archive--gallery div.post__item:nth-child(4n) {
    margin-right: 0
}

div.post__archive.post__archive--gallery div.post__item:nth-child(4n+1) {
    clear: left
}

@media only screen and (max-width:1050px) {
    div.post__archive.post__archive--gallery div.post__item {
        width: 100%;
        margin-bottom: 24px
    }
    div.post__archive.post__archive--gallery div.post__item:nth-child(n) {
        float: left;
        margin-right: 0;
        clear: none
    }
    div.post__archive.post__archive--gallery div.post__item:last-child,
    div.post__archive.post__archive--gallery div.post__item:nth-child(1n) {
        margin-right: 0
    }
    div.post__archive.post__archive--gallery div.post__item:nth-child(1n+1) {
        clear: left
    }
}

div.post__item {
    width: calc(99.99% * 1/3 - 32px);
    margin-bottom: 96px
}

div.post__item:nth-child(n) {
    float: left;
    margin-right: 48px;
    clear: none
}

div.post__item:last-child,
div.post__item:nth-child(3n) {
    margin-right: 0
}

div.post__item:nth-child(3n+1) {
    clear: left
}

@media only screen and (max-width:1050px) {
    div.post__item {
        width: 100%;
        margin-bottom: 24px
    }
    div.post__item:nth-child(n) {
        float: left;
        margin-right: 0;
        clear: none
    }
    div.post__item:last-child,
    div.post__item:nth-child(1n) {
        margin-right: 0
    }
    div.post__item:nth-child(1n+1) {
        clear: left
    }
}

h3.post__title {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0
}

p.post__lead {
    font-size: .875rem;
    margin: 0 0 10px
}

a.post__r-more {
    display: inline-block;
    text-transform: uppercase;
    padding-left: 25px;
    background: transparent url(../img/sprite.png) no-repeat;
    background-position: 0 -494px
}

a.post__r-more:hover {
    color: #fcaf17
}

a.post__block-link {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px
}

a.post__block-link:hover h3 {
    color: #333
}

a.post__block-link:hover div.post__shade {
    background: #fcaf17
}

a.post__block-link:hover span.post__v-gallery {
    color: #fff;
    border-color: #0a4d84;
    background: #0a4d84
}

a.post__block-link img {
    display: block;
    min-width: 100%;
    max-width: none;
    z-index: 1;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 0
}

a.post__block-link h3 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 100px;
    z-index: 3;
    margin: 0;
    font-weight: 400;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff
}

span.post__v-gallery {
    display: inline-block;
    color: #fcaf17;
    border: 1px solid #fcaf17;
    padding: 12px 24px;
    margin-top: 24px;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: .75rem
}

div.post__shade {
    background: #333;
    opacity: .75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

a.testimonial__btn {
    display: inline-block;
    color: #fcaf17;
    text-transform: uppercase;
    padding: 24px 96px 24px 48px;
    background: #0a4d84 url(../img/sprite.png) no-repeat;
    background-position: right -471px
}

a.testimonial__btn:hover {
    background-color: #04223a
}

div.facility {
    display: block
}

div.facilty__item {
    margin-bottom: 144px
}

div.facilty__item:last-child {
    margin-bottom: 0
}

div.facilty__item:after {
    content: "";
    display: table;
    clear: both
}

@media only screen and (min-width:800px) {
    div.facilty__item.facility__item--odd article.facility__article {
        padding-right: 0;
        padding-left: 15%
    }
}

div.facility__pic {
    width: calc(99.99% * 6/12 - 24px)
}

div.facility__pic:nth-child(n) {
    float: left;
    margin-right: 48px;
    clear: none
}

div.facility__pic:last-child,
div.facility__pic:nth-child(0n) {
    margin-right: 0
}

div.facility__pic:nth-child(0n+1) {
    clear: left
}

@media only screen and (max-width:1050px) {
    div.facility__pic {
        width: 100%
    }
    div.facility__pic:nth-child(n) {
        float: left;
        margin-right: 0;
        clear: none
    }
    div.facility__pic:last-child,
    div.facility__pic:nth-child(0n) {
        margin-right: 0
    }
    div.facility__pic:nth-child(0n+1) {
        clear: left
    }
}

div.facility__post {
    width: calc(99.99% * 6/12 - 24px)
}

div.facility__post:nth-child(n) {
    float: left;
    margin-right: 48px;
    clear: none
}

div.facility__post:last-child,
div.facility__post:nth-child(0n) {
    margin-right: 0
}

div.facility__post:nth-child(0n+1) {
    clear: left
}

@media only screen and (max-width:1050px) {
    div.facility__post {
        width: 100%
    }
    div.facility__post:nth-child(n) {
        float: left;
        margin-right: 0;
        clear: none
    }
    div.facility__post:last-child,
    div.facility__post:nth-child(0n) {
        margin-right: 0
    }
    div.facility__post:nth-child(0n+1) {
        clear: left
    }
}

@media only screen and (min-width:800px) {
    article.facility__article {
        padding-right: 25%
    }
}

div.page__navigation {
    padding: 25px 0
}

div.page__navigation a {
    display: inline-block;
    border: 1px solid #e49803;
    padding: 5px 20px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: .75rem;
    background-color: #fcaf17;
    color: #333;
    font-weight: 600
}

div.page__navigation a:hover {
    background-color: #0a4d84;
    color: #fff;
    border-color: #04223a
}

section.page__pagination {
    display: block;
    text-align: center;
    margin-bottom: 96px
}

@media only screen and (max-width:1050px) {
    section.page__pagination {
        margin-bottom: 24px
    }
}

div.pager,
div.wp-pagenavi {
    margin: 0
}

div.pager span,
div.wp-pagenavi span {
    display: inline-block;
    background: #f6f7f9;
    border: 1px solid #c9cfdb;
    padding: 5px 12px;
    margin: 0 2px;
    color: #333;
    border-radius: 3px
}

div.pager span.current,
div.wp-pagenavi span.current {
    background: #fcaf17;
    color: #fff
}

div.pager span.pages,
div.wp-pagenavi span.pages {
    display: none
}

div.pager a,
div.wp-pagenavi a {
    display: inline-block;
    background: #f6f7f9;
    border: 1px solid #c9cfdb;
    padding: 5px 12px;
    margin: 0 2px;
    color: #333;
    border-radius: 3px
}

div.pager a.active,
div.pager a:hover,
div.wp-pagenavi a.active,
div.wp-pagenavi a:hover {
    background: #0a4d84;
    color: #fff
}

div.blog__post {
    display: block
}

div.blog__post:after {
    content: "";
    display: table;
    clear: both
}

div.blog__post hr {
    margin: 50px 0
}

div.blog__post:last-child hr {
    display: none
}

p.blog__post-meta {
    margin: 0;
    color: #555
}

h3.blog__post-title {
    margin-top: 5px;
    margin-bottom: .8em;
    line-height: 1.15;
    font-size: 2.5rem
}

h3.blog__post-title a {
    display: block
}

h3.blog__post-title a:hover {
    color: #04223a
}

article.blog__post-content {
    display: block
}

article.blog__post-content img.alignleft {
    float: left;
    margin-right: 1.7em;
    margin-bottom: .8em
}

article.blog__post-content img.alignright {
    float: right;
    margin-left: 1.7em;
    margin-bottom: .8em
}

article.blog__post-content img.aligncenter {
    display: inline-block;
    align: center;
    margin-bottom: .8em
}

footer.site__footer {
    border-top: 1px solid #d8dde5
}

footer.site__footer.site__footer--home {
    border-top: 0
}

ul.footer__menu {
    margin: 0;
    padding: 70px 0 50px;
    list-style: none
}

ul.footer__menu:after {
    content: "";
    display: table;
    clear: both
}

@media only screen and (max-width:1050px) {
    ul.footer__menu {
        padding: 50px 0 10px
    }
}

ul.footer__menu li {
    width: 14.28571%;
    position: relative
}

ul.footer__menu li:nth-child(n) {
    float: left;
    margin-right: 0;
    clear: none
}

ul.footer__menu li:last-child,
ul.footer__menu li:nth-child(0n) {
    margin-right: 0
}

ul.footer__menu li:nth-child(0n+1) {
    clear: left
}

@media only screen and (max-width:1050px) {
    ul.footer__menu li {
        width: 50%;
        margin-bottom: 24px
    }
    ul.footer__menu li:nth-child(n) {
        float: left;
        margin-right: 0;
        clear: none
    }
    ul.footer__menu li:last-child,
    ul.footer__menu li:nth-child(2n) {
        margin-right: 0
    }
    ul.footer__menu li:nth-child(2n+1) {
        clear: left
    }
}

ul.footer__menu li:after {
    content: "";
    background: #d8dde5;
    width: 24px;
    height: 1px;
    position: absolute;
    top: 36px;
    left: 0
}

ul.footer__menu li ul.sub-menu {
    padding: 0;
    margin: 30px 0 0
}

ul.footer__menu li ul.sub-menu li {
    float: none;
    width: 100%;
    display: block;
    font-size: .75rem;
    margin: 0
}

ul.footer__menu li ul.sub-menu li:after {
    display: none
}

ul.footer__menu li ul.sub-menu a {
    color: #04223a
}

ul.footer__menu li ul.sub-menu a:hover {
    color: #fcaf17
}

ul.footer__menu a {
    display: block;
    color: #04223a
}

ul.footer__menu a:hover {
    color: #fcaf17
}

div.footer__base {
    width: 100%;
    height: 32px;
    font-size: .625rem;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 25px
}

div.footer__base a {
    color: #333
}

div.footer__copyrt {
    position: absolute;
    top: 0;
    left: 5px
}

@media only screen and (max-width:1050px) {
    div.footer__copyrt {
        position: static
    }
}

div.footer__social {
    position: absolute;
    top: 0;
    right: 5px
}

@media only screen and (max-width:1050px) {
    div.footer__social {
        position: static;
        margin: 15px 0
    }
}

ul.footer__s-links {
    list-style: none;
    margin: 0;
    padding: 0
}

ul.footer__s-links:after {
    content: "";
    display: table;
    clear: both
}

ul.footer__s-links li {
    float: left;
    margin-left: 5px
}

ul.footer__s-links li:first-child {
    margin-right: 8px
}

ul.footer__s-links li:last-child {
    margin-top: -2px
}

ul.footer__s-links li:last-child a {
    background-position: 0 -90px
}

ul.footer__s-links li:last-child a:hover {
    background-position: 0 -1063px
}

ul.footer__s-links a {
    width: 36px;
    height: 36px;
    display: block;
    text-indent: -999999px;
    background: transparent url(../img/sprite.png) no-repeat;
    background-position: 0 0
}

ul.footer__s-links a:hover {
    background-position: 0 -973px
}

p.lead {
    font-size: 110%;
    text-transform: uppercase;
    margin-bottom: 48px
}

p.lead.lead--orange {
    color: #fcaf17
}

body.page-id-114 section.page__content hr {
    margin: 75px 0 100px
}

@media only screen and (max-width:1050px) {
    body.page-id-114 section.page__content hr {
        margin: 24px 0 48px
    }
}

@media only screen and (max-width:1050px) {
    body.page-id-205 img {
        margin-bottom: 24px
    }
}

ul.site__header__menu.site__header__menu--sm {
    background-color: #eee;
}