div.milestone {
    display: block;
    position: relative;
    padding: 50px 0;
    width: 100%;
    margin: 0 0 100px
}
div.milestone-strip {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    margin-left: -1px;
    box-sizing: content-box;
    border-left: 2px dashed #d8dde5
}
@media only screen and (max-width: 1050px) {
    div.milestone-strip {
        left: 8px
    }
}
a.milestone__current-year {
    display: block;
    line-height: 42px;
    margin-left: -50px;
    text-align: center;
    font-weight: 700;
    border-radius: 3px;
    background: #fcaf17;
    color: #fff;
    width: 100px;
    height: 42px;
    position: absolute;
    top: -21px;
    left: 50%
}
@media only screen and (max-width: 800px) {
    a.milestone__current-year {
        left: 0;
        top: 0;
        margin: 0
    }
}
a.milestone__item {
    display: block;
    background: #0a4d84;
    margin: 40px auto;
    color: #fcaf17;
    position: relative;
    width: 15px;
    height: 40px
}
@media only screen and (max-width: 1050px) {
    a.milestone__item {
        margin: 100px 0
    }
}
a.milestone__item span {
    display: block;
    line-height: 40px;
    font-weight: 700;
    position: absolute;
    top: 0;
    right: -50px
}
a.milestone__item:hover {
    background: #04223a
}
a.milestone__item.is-active {
    background: #fcaf17
}
a.milestone__item.is-active div.milestone__post {
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
    filter: none;
    visibility: visible
}
div.milestone__post {
    position: absolute;
    top: -30px;
    right: 85px;
    width: 500px;
    border: 1px solid #d8dde5;
    padding: 48px;
    color: #333;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    display: block;
    transition: all .3s ease-in;
    visibility: hidden;
    cursor: default
}
@media only screen and (max-width: 1050px) {
    div.milestone__post {
        width: 240px;
        right: auto;
        left: 90px;
        padding: 15px
    }
}
div.milestone__post:before {
    content: "";
    display: block;
    width: 17px;
    height: 28px;
    position: absolute;
    top: 30px;
    right: -17px;
    background: url(../img/arr.png) no-repeat
}
@media only screen and (max-width: 1050px) {
    div.milestone__post:before {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        position: absolute;
        top: 30px;
        right: auto;
        left: -17px
    }
}
@media only screen and (min-width: 800px) {
    a.milestone__item--even span {
        position: absolute;
        top: 0;
        right: auto;
        left: -50px
    }
    a.milestone__item--even div.milestone__post {
        position: absolute;
        top: -30px;
        right: auto;
        left: 85px
    }
    a.milestone__item--even div.milestone__post:before {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        position: absolute;
        top: 30px;
        right: auto;
        left: -17px
    }
}